/* COLORS */
:root {
    --olive: #5a8c29;
--olive-light: #94c24a;
--bg: #f8f4eb;
--card: #f4efe3;
--text: #333;
--text-light: #666;
}

/* GENERAL */
body {
margin: 0;
background: var(--bg);
font-family: "Trebuchet MS", sans-serif;
color: var(--text);
}

.section {
padding: 80px 10%;
}

h2 {
text-align: center;
color: var(--olive);
font-size: 40px;
margin-bottom: 10px;
}

.section-sub {
text-align: center;
color: var(--text-light);
margin-bottom: 45px;
}

/* BUTTONS */
.primary {
background: var(--olive);
color: white;
padding: 12px 28px;
border-radius: 30px;
display: inline-block;
transition: 0.3s;
}
.primary:hover {
background: var(--olive-light);
}

/* CONTENT */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%;
}

.container-content {
    max-width: 45%;
}

.tag {
    color: var(--olive-light);
    font-size: 14px;
}

.container h1 span {
    color: var(--olive);
}

.title {
    color: var(--text-light);
}

.quote { 
    color: var(--olive-light); 
    font-style: italic; 
    margin-top: 10px; 
}

.circle {
    width: 320px;
    height: 320px;
    border: 5px solid #dce8c1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--olive);
}

/* ABOUT / CARDS */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background: var(--card);
    padding: 30px;
    border-radius: 18px;
    transition: 0.3s;
}

.card:hover {
transform: translateY(-6px);
}

/* SKILLS */
.skills-list {
    max-width: 700px;
    margin: auto;
}

.skill {
    margin: 18px 0;
}

.bar {
    height: 10px;
    background: #e1dac8;
    border-radius: 5px;
}