/* COLORS */
:root {
    --olive: #5a8c29;
--olive-light: #94c24a;
--bg: #f8f4eb;
--card: #f4efe3;
--text: #333;
--text-light: #666;
}

/* GENERAL */
body {
margin: 0;
background: var(--bg);
font-family: "Trebuchet MS", sans-serif;
color: var(--text);
}

.section {
padding: 30px 10%;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    background: linear-gradient(
        to bottom,
        rgba(90, 140, 41, 0.75),
        rgba(90, 140, 41, 0.35)
    );
    -webkit-background-clip: text; 
    background-clip: text;          
    color: transparent;
    font-weight: 900;
}

.section-sub {
text-align: center;
color: var(--text-light);
margin-bottom: 45px;
}

/* BUTTONS */
.primary {
background: var(--olive);
color: white;
padding: 12px 28px;
border-radius: 30px;
display: inline-block;
transition: 0.3s;
margin-top: 20px;
border: none;
outline: none;
}

.primary:hover {
background: var(--olive-light);
}

/* CONTENT */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
    gap: 40px;
}

.container-content {
    max-width: 550px;
}

.container-content .tag {
    margin-bottom: 18px;
    letter-spacing: 1px;
    color: var(--olive-light);
}

.container-content h1 {
    font-size: 54px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-weight: 900;
}

.container-content h1 span {
    color: var(--olive); 
    font-weight: 900;
}

.container-content .title {
    font-size: 22px;
    margin-bottom: 25px;
}

.container-content .content-desc {
    margin-bottom: 18px;
    line-height: 1.7;
}

.container-content .quote {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 1.6;
}

a {
    color: var(--olive);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--olive-light);
    text-decoration: underline;
}

        /* HI THERE POP UP */
.pop {
    opacity: 0;
    transform: translateY(15px);
    animation: slideFade 0.9s ease-out forwards;
    animation-delay: 0.3s;
    color: var(--olive);
}

@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    color: var(--text-light);
}

.quote { 
    color: var(--olive-light); 
    font-style: italic; 
    margin-top: 10px; 
}

.circle {
    width: 450px;
    height: 450px;
    border: 5px solid #dce8c1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg);
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ABOUT / CARDS */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background: var(--card);
    padding: 30px;
    border-radius: 18px;
    transition: 0.3s;
}

.card:hover {
transform: translateY(-6px);
}

.card-icon {
    width: 52px;
    height: 52px;
    background: var(--olive-light);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.card-icon img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    filter: brightness(100%) invert(1);
}

/* SKILLS */
.skills-list {
    max-width: 800px;
    margin: auto;
}

.skill {
    margin: 25px 0;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.skill-header .label {
    font-weight: bold;
    color: var(--text);
}

.skill-header .percent {
    color: var(--text-light);
    font-weight: bold;
}

.bar {
    height: 15px;
    background: #e1dac8;
    border-radius: 5px;
    position: relative;
}

.fill {
    height: 15px;
    background: linear-gradient(90deg, var(--olive) 0%, var(--olive-light) 100%);
    width: 0;
    border-radius: 5px;
    transition: width 1.5s ease;
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.project-card {
    background: linear-gradient(
        135deg,
        #f8fbe9 0%,
        #f1f7e0 50%,
        #e8f1d3 100%
    );
    border-radius: 16px;
    padding: 28px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-6px);
}

.tags {
    margin: 15px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background: #ece8d9;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    color: var(--text);
    font-weight: 500;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.05);
    transition: 0.25s ease;
}

.tag:hover {
    background: var(--olive-light);
    color: white;
    transform: translateY(-2px);
}

.cv-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;

    background: linear-gradient(
        to bottom,
        rgba(90, 140, 41, 0.75),
        rgba(90, 140, 41, 0.35)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 900;
}

.cv-sub {
    text-align: center;
    color: var(--text-light);
    margin-bottom: 25px;
}

.cv-button-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.cv-button{
    font-size: 16px;
}

.contact p {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 20px;
}

.contact-button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* EXPERIENCE + EDUCATION NEW */
.experience, 
.education {
    margin-top: 80px;
}

.experience {
    margin-top: 20px;  
    padding-top: 0;
}

.timeline {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.exp-card {
    background: linear-gradient(
        135deg,
        #f8fbe9 0%,  
        #f1f7e0 50%, 
        #e8f1d3 100%  
    );
    padding: 25px;
    border-radius: 16px;
    display: flex;
    gap: 18px;
    align-items: flex-start;
    transition: 0.3s;
}

.exp-card:hover {
    transform: translateY(-5px);
}

.exp-icon img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    filter: brightness(100%) invert(1);
}

.exp-content h3 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-size: 20px;
    width: 100%;
    margin: 0;
}

.exp-content h3 span {
    padding-left: 500px;
    white-space: nowrap;
}

.exp-content p {
    margin-top: 8px;
    color: var(--text-light);
    line-height: 1.6;
}


/*CONTACT PAGE */
.back-link {
    color: var(--olive);
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 20px;
}

.contact-header {
    text-align: center;
    margin-bottom: 30px;
}

.contact-title {
    font-size: 40px;
    color: var(--olive);
    margin-bottom: 10px;
}

.contact-sub {
    color: var(--text-light);
    font-size: 18px;
}

.contact-card {
    background: var(--card);
    padding: 40px;
    border-radius: 14px;
    max-width: 650px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 15px;
}

.contact-card form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-card input,
.contact-card textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #f6f2e8;
}

.contact-card textarea {
    height: 150px;
    resize: none;
}

.contact-button {
    width: 100%;
    margin-top: 10px;
    border: none;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.5px;
    color: #999; 
}

/* SOCIAL MEDIA PAGE */
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 35px 0;
    flex-wrap: wrap;
}

.social-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 22px;
    background: #faf7ef;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 10px;
    color: var(--text);
    font-weight: 500;
    text-decoration: none;
    transition: 0.25s ease;
    font-size: 15px;
}

.social-btn:hover {
    background: var(--olive-light);
    border-color: var(--olive-light);
    color: white;
    transform: translateY(-3px);
}

.social-btn i {
    font-size: 16px;
}


/* FADE EFFECT */
.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: 1s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: var(--olive);
    font-weight: bold;
    font-size: 16px;
    opacity: 0.8;
}

.footer p {
    margin: 0;
}

/* RESPONSIVE MOBILE */

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: center;
        padding: 50px 8%;
    }

    .my-image {
        order: -1;
    }

    .circle {
        width: 220px;
        height: 220px;
    }

    h1 {
        font-size: 40px !important;
    }
}

/* ----- TABLETS + LARGE MOBILES ----- */
@media (max-width: 768px) {

    /* GENERAL */
    .section {
        padding: 25px 6%;
    }

    h2 {
        font-size: 32px;
    }

    /* ABOUT */
    .card-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        text-align: center;
    }

    /* SKILLS */
    .skills-list {
        width: 100%;
    }

    /* PROJECTS */
    .project-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .project-card {
        padding: 22px;
        text-align: left;
    }

    /* EXPERIENCE */
    .exp-card {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .exp-content h3 {
        font-size: 18px;
    }

    .exp-icon {
        width: 48px;
        height: 48px;
    }
}

/* ----- SMALL MOBILE PHONES ----- */
@media (max-width: 480px) {

    body {
        font-size: 15px;
    }

    .container-content h1 {
        font-size: 32px;
    }

    .title {
        font-size: 18px;
    }

    .circle {
        width: 180px;
        height: 180px;
    }

    /* Buttons */
    .primary {
        padding: 10px 22px;
        font-size: 14px;
    }

    /* Experience & Education cards */
    .exp-content h3 {
        font-size: 17px;
    }

    .cv-title {
        font-size: 30px;
    }

    .contact-card {
        padding: 25px;
    }

    footer {
        font-size: 14px;
    }
}
